@import './fonts.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    font-family: 'Atopic', system-ui, sans-serif;
  }
}

.text-shadow-text {
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.hero-bg {
  background-color: #ffc107;
}